footer {
  background-color: var(--primary-yellow);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

footer .group,
footer .group ul,
footer .contact-us,
footer .contact-us ul,
footer .top,
footer .bot,
footer .social-media {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.contact-us ul li {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 0.5rem;
}

.contact-us ul li img {
  width: 25px;
  height: 25px;
}

#candid {
  width: 100px;
  height: 100px;
  align-self: center;
}

footer .social-media {
  justify-content: center;
  align-items: center;
  margin-bottom: 0.5rem;
}

footer .bot {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer .bot span {
  cursor: pointer;
}

footer .bot p {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

footer .social-media>div {
  display: flex;
  gap: 0.5rem;
}

footer .social-media img {
  width: 1.75rem;
}

#footer-logo {
  width: 35px;
  height: 35px;
}

/* Mobile */
@media (max-width: 767px) {

}

/* Tablet */
@media (max-width: 991px) {
  footer {
    padding: 30px;
  }
  
  footer .group {
    width: 1000px;
    padding-bottom: 1rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  }

  footer .group:last-child {
    border: none;
  }

  footer .group,
  footer .group ul,
  footer .contact-us,
  footer .contact-us ul,
  footer .top,
  footer .bot,
  footer .social-media {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
  }
  
  .footer-groups {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 0.5rem;
  }

  footer .contact-us ul {
    justify-content: start;
    align-items: start;
  }
  
  footer .bot p:nth-child(4) {
    text-align: center;
    flex-direction: column;
  }
}

/* Small Desktop */
@media (min-width: 992px) {
  footer {
    padding: 50px;
  }
  
  .footer-groups {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 75px;
  }

  footer .top {
    width: 90%;
    flex-direction: row;
    justify-content: space-evenly;
  }
}

/* Large Desktop */
@media (min-width: 1200px) {
  footer .top {
    width: 80%;
  }
  .footer-groups {
    gap: 80px;
  }
}
