.about-offer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 5%;
}

.about-offer>div {
  display: grid;
  gap: 2rem;
}

.about-offer>div>div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1rem;
  max-width: 425px;
}

.about-offer>div>div p {
  max-width: 375px;
}
/* Mobile */
@media (max-width: 767px) {
  .about-offer>div {
    grid-template-columns: 1fr;
  }
}

/* Tablet */
@media (min-width: 768px) and (max-width: 991px) {
  .about-offer>div {
    grid-template-columns: 1fr;
  }
}

/* Small Desktop */
@media (min-width: 992px) and (max-width: 1199px) {
  .about-offer>div {
    grid-template-columns: 1fr 1fr;
    column-gap: 4rem;
    row-gap: 3rem;
  }
}

/* Large Desktop */
@media (min-width: 1200px) {
  .about-offer>div {
    grid-template-columns: 1fr 1fr;
    column-gap: 8rem;
    row-gap: 3rem;
  }
}

