
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
}

:root {
  --primary-yellow: #FDC529;
  --lighter-yellow: #FFDEA5;
  --primary-blue: #0A5EA2;
  --darker-blue: #06305F;
  --lighter-blue: #D5E3FF;
  --red: #FF5449;
  --darker-grey: #737373;
  --lighter-grey: #BFBFBF;
  --white: #FFFFFF;
  --black: #000000;

  --h1-font-size: 3.815rem;
  --h2-font-size: 3.052rem;
  --h3-font-size: 2.441rem;
  --h4-font-size: 1.953rem;
  --h5-font-size: 1.563rem;
  --h6-font-size: 1.25rem;
  --p-font-size: 1rem; 
  --small-font-size: 0.875rem; 

  --regular-font-weight: 500;
  --bold-font-weight: 700;
  --extra-bold-font-weight: 800;
}

h1 {
  font-weight: var(--regular-font-weight);
  font-size: var(--h1-font-size);
}

.h1-extra-bold {
  font-weight: var(--extra-bold-font-weight);
  font-size: var(--h1-font-size);
  color: var(--primary-blue);
}

h2 {
  font-weight: var(--regular-font-weight);
  font-size: var(--h2-font-size);
}

.h2-extra-bold {
  font-weight: var(--extra-bold-font-weight);
  font-size: var(--h2-font-size);
  color: var(--primary-blue);
}

h3 {
  font-weight: var(--regular-font-weight);
  font-size: var(--h3-font-size);
  color: var(--primary-blue);
}

.h3-bold {
  font-weight: var(--bold-font-weight);
  font-size: var(--h3-font-size);
}

h4 {
  font-weight: var(--regular-font-weight);
  font-size: var(--h4-font-size);
}

.h4-bold {
  font-weight: var(--bold-font-weight);
  font-size: var(--h4-font-size);
  color: var(--primary-blue);
}

h5 {
  font-weight: var(--regular-font-weight);
  font-size: var(--h5-font-size);
}

h6 {
  font-weight: var(--regular-font-weight);
  font-size: var(--h6-font-size);
}

.h6-bold {
  font-weight: var(--bold-font-weight);
  font-size: var(--h6-font-size);
  color: var(--primary-blue);
}

p {
  font-weight: var(--regular-font-weight);
  font-size: var(--p-font-size);
  line-height: 1.625rem;
}

.p-bold {
  font-weight: var(--bold-font-weight);
  font-size: var(--p-font-size);
}

.p-extra-bold {
  font-weight: var(--extra-bold-font-weight);
  font-size: var(--p-font-size);
}

.small {
  font-weight: var(--regular-font-weight);
  font-size: var(--small-font-size);
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

.round-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2% 5%;
  border: none;
  text-wrap: nowrap;
  border-radius: 100px;
  font-weight: var(--regular-font-weight);
  font-size: var(--p-font-size);
  color: var(--white);
  background-color: var(--primary-blue);
  box-shadow: 0px 2px 15px 2px rgba(0, 0, 0, 0.2);
}

.round-button:hover {
  background-color: var(--darker-blue);
  transform: translateY(-5%);
  box-shadow: 0px 2px 10px 2px rgba(0, 0, 0, 0.2);
}

.yellow-square-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.75% 3%;
  border: none;
  text-wrap: nowrap;
  border-radius: 0.75rem;
  font-weight: var(--bold-font-weight);
  font-size: var(--p-font-size);
  color: var(--black);
  background-color: var(--primary-yellow);
  box-shadow: 0px 2px 9px 2px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.yellow-square-button:hover {
  box-shadow: 0px 2px 15px 2px rgba(0, 0, 0, 0.2);
}

.blue-square-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3% 8%;
  border: none;
  text-wrap: nowrap;
  border-radius: 0.75rem;
  font-weight: var(--bold-font-weight);
  font-size: var(--p-font-size);
  color: var(--white);
  background-color: var(--primary-blue);
  box-shadow: 0px 2px 9px 2px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.blue-square-button:hover {
  box-shadow: 0px 2px 15px 3px rgba(0, 0, 0, 0.2);
}

/* Mobile */
@media (max-width: 767px) {
  html {
    font-size: 14px;
  }

  .yellow-square-button {
    padding: 1.5% 5%;
  }
}

/* Tablet */
@media (min-width: 768px) and (max-width: 991px) {
  html {
    font-size: 16px;
  }

  .yellow-square-button {
    padding: 1.25% 4%;
  }
}

/* Small Desktop */
@media (min-width: 992px) and (max-width: 1199px) {
  html {
    font-size: 17px;
  }
}

/* Large Desktop */
@media (min-width: 1200px) {
  html {
    font-size: 18px;
  }

  .round-button {
    padding: 2% 5%;
  }
}

/* EMPTY BREAKPOINT TEMPLATE */
/* Mobile */
@media (max-width: 767px) {

}

/* Tablet */
@media (min-width: 768px) and (max-width: 991px) {

}

/* Small Desktop */
@media (min-width: 992px) and (max-width: 1199px) {

}

/* Large Desktop */
@media (min-width: 1200px) {

}

